<div class="container-fluid">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="cover-content">
				<div class="cover-header">
					<h1 class="header-synch">MUSIC</h1>
					<div class="mini-dashboard">
 						<%if current_user && current_user.admin? %>
 							<button><%= link_to "Add new Artist", new_artist_path %></button>
 						<% end %>
 					</div><br>	
					<div class="gallery">
					<% @artist.each do |a| %>
							<div class="groups">
								<h3 class="name"><%= a.name %></h3>

							<div class="item">
								<a href='/artists/<%=a.id%>'><%= image_tag a.image.url(:med) %>
							</div>
						</div>
					<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
