<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1>Music</h1>
			<div class="gallery">
				<div class="groups">
					<p class="name">Del-Aires</p>
				<div class="item one">
				</div>
				</div>

				<div class="groups">
					<p class="name">Don and Dewey</p>
				<div class="item two">
				</div>
				</div>
				<div class="groups">
					<p class="name">Del-Aires</p>
				<div class="item one">
				</div>
				</div>
				<div class="groups">
					<p class="name">Del-Aires</p>
				<div class="item one">
				</div>
				</div>
				<div class="groups">
					<p class="name">Del-Aires</p>
				<div class="item one">
				</div>
				</div>
				<div class="groups">
					<p class="name">Del-Aires</p>
				<div class="item one">
				</div>
				</div>
				<div class="groups">
					<p class="name">Del-Aires</p>
				<div class="item one">
				</div>
				</div>
				<div class="groups">
					<p class="name">Del-Aires</p>
				<div class="item one">
				</div>
				</div>
				<div class="groups">
					<p class="name">Del-Aires</p>
				<div class="item one">
				</div>
				</div>
				<div class="groups">
					<p class="name">Del-Aires</p>
				<div class="item one">
				</div>
				</div>
				<div class="groups">
					<p class="name">Del-Aires</p>
				<div class="item one">
				</div>
				</div>
				<div class="groups">
					<p class="name">Del-Aires</p>
				<div class="item one">
				</div>
				</div>
				
			</div>
		</div>
	</div>
</div>