// Place all the styles related to the artists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.gallery {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
    text-align: center;
}

.item {
    margin: 1em;
    height: 250px;
    width: 250px;
    border: 5px solid #E0E0E0;
    background-color: #FFF3E0;
}

.cover-content {
    margin-bottom: 10%;
}

.item>a:hover {
    opacity: 0.8;
}

.name {
    color: #1D1D1D;
    text-align: center;
}

.mini-dashboard {
    text-align: center;
}

.artist-name {
    text-align: center;
}

.artist-player {
    padding-top: 50px;
}

.artist-biography {
    padding: 20px 20px 20px 0;
    font-size: 2em;
}

.artist-bio {
    height: 400px;
    overflow: auto;
}