

h3 {
	text-align: center;			
	font-size: 2rem;
	font-weight:600;
	letter-spacing:1px;
	color:$h3-color;
	
}

.home-header{
	background-color:#FFAB91;
	height:600px;
} 

.header-synch{
	margin-top: 50px;
}
.wrap-info > p  {
	margin-top:50px;
}

.services{
	padding:25px;
	height:600px;
	background-color:#FAFAFA;
}

.home-services h3::after{
	height: 1px;
	margin:1.5rem auto 1rem;
	width: 5rem;
	content: '';
	display:block;
}
.home-services p {
	color: $p_color;
	margin:0 auto;
	letter-spacing:.2rem;
	max-width:35rem;
	font-size: 1.7rem;
	line-height:1.8;
	text-align:center;
}

@media(max-width:768px) {

	.wrap-info p{
		font-size: 1.2rem;
		margin-top:20px;
	}
   .home-services h3::after{
	height: 1px;
	margin:1rem auto 1rem;
	width: 2rem;
	content: '';
	display:block;
}
.home-services p {
	color: $p_color;
	margin:0 auto;
	letter-spacing:.2rem;
	max-width:70rem;
	font-size: 1.2rem;
	line-height:1;
	text-align:center;
}
}

