/* fonts */

$font-stack:'Helvetica LT W01 Light';
$font-songlist: 4em;

/* colors */

$p_color:#212121;
$h1-color:#000000;
$h3-color:#000000;
$button-size: 3.5rem;
$transition: .3s;
@mixin paragraph-styles() {
    color: $p_color;
    max-width: 100rem;
    margin: 0 auto 1rem;
    letter-spacing: .1rem;
    font-size: 1.4rem;
    line-height: 1.5;
    text-align: center;
}

@mixin afterheading-styles() {
    border-bottom: 2px solid white;
    height: 1px;
    margin: 1.5rem auto 1rem;
    width: 9rem;
    content: '';
    display: block;
}