<div class="container">
<section class="catalog-header">
	<div class="row">
		<div class="col-md-12  galeria">
    <div class="cover-content">
			<div class="cover-header">
				<h1 class="header-synch">CATALOGS</h1>
					<p>Along with previously unreleased discoveries, Linna and Miller have successfully reissued many other obscurities and classics from the 1950s and 1960s, and their extensive catalog also includes current talents: Tommy James, King Coleman, Wade Curtiss, Elroy Dietzel, Esquerita, Charlie Feathers, Figures of Light, Flat Duo Jets, Ron Haydock, Roy Loney, Coba Seas, Terry Manning, Rudy Ray Moore, Doug Sahm, Reigning Sound, Ronnie Self, Tyrone Schmidling, Jack Starr, Gene Summers, The Teenbeats, King Uszniewicz, Gene Vincent, Gino Washington, Andre Williams and Link Wray.</p><br><br>

					<p>Along with previously unreleased discoveries, Linna and Miller have successfully reissued many other obscurities and classics from the 1950s and 1960s, and their extensive catalog also includes current talents.</p><br><br>
			</div>
		</div>
	</div>
</div>
</section>
<section class="catalog-piclabels">
	<div class="row">
	<div class="col-md-12  galeria">
		<div class="catalog">
			<h2 class="nombre">Yucca</h2>
				<div class="catalog uno">
				</div>
		</div>

		<div class="catalog">
			<h2 class="nombre">Onyx</h2>
				<div class="catalog dos">
				</div>
		</div>
	</div>
</div>
</section>

	
<section class="catalog-labels">
	<div class="row">
		<div class="col-md-12 norton-labels">
			<div class="cover-header">
				<h1 class="record-label">Yucca</h1>
				<p>
					(Norton 270) Oh, yes, finally in Nortophonic Loud Sound, the original Yucca masters come to life with enough stomp blues wail to set ya pants afire! The real deal gittar man who started the whole El Paso Rock deal rollin' is now on Norton with his early greasy SW grinders! Get thee ready to salivate aplenty! Catch Long John in action on tour & holler for all his Yucca/Norton wildies! He's sure to oblige!<br>

					El Paso Rock / Ride With Me Baby / Border Town Blues / Flippin' Fingers / Midnight Stroll / Hey Mrs. Jones / Shuffle Out / School Girl / So Long / The Scratch / Betty Lou / Strange Feeling / Grandma / I Wanna Love You / Old Red / Stop What You're Doin' / Ole Rattler / Slash / Come On / I Don't Care / Betty Lou (alt) <br>

					"Best Historical Blues Release Of The Year." - Living Blues
			</p>
			</div>
			<div class="cover-header">
				<h1 class="record-label">Onyx</h1>
				<p>
					(Norton 270) Oh, yes, finally in Nortophonic Loud Sound, the original Yucca masters come to life with enough stomp blues wail to set ya pants afire! The real deal gittar man who started the whole El Paso Rock deal rollin' is now on Norton with his early greasy SW grinders! Get thee ready to salivate aplenty! Catch Long John in action on tour & holler for all his Yucca/Norton wildies! He's sure to oblige!<br>

					El Paso Rock / Ride With Me Baby / Border Town Blues / Flippin' Fingers / Midnight Stroll / Hey Mrs. Jones / Shuffle Out / School Girl / So Long / The Scratch / Betty Lou / Strange Feeling / Grandma / I Wanna Love You / Old Red / Stop What You're Doin' / Ole Rattler / Slash / Come On / I Don't Care / Betty Lou (alt) <br>

					"Best Historical Blues Release Of The Year." - Living Blues
			</p>
		</div>
	</div>
</div>
</section>
</div>
