<div class=".container">
<div class="row home-header">
	 <div class="col-md-12">
	 	<div class="wrap-info">
					<h1 class="header-synch-home headerh1">NORTON RECORDS</h1>
			 <p>Norton Records, a New York City based independent record label founded by musicians Miriam Linna and Billy Miller, maintains a focus on primitive, retro rock'n'roll, rockabilly, garage punk, garage rock, lounge music and early R& B.<br>

			 Along with previously unreleased discoveries, Linna and Miller have successfully reissued many other obscurities and classics from the 1950s and 1960s, and their extensive catalog also includes current talents: Tommy James, King Coleman, Wade Curtiss, Elroy Dietzel, Esquerita, Charlie Feathers, Figures of Light, Flat Duo Jets, Ron Haydock, Roy Loney, Coba Seas, Terry Manning, Rudy Ray Moore, Doug Sahm, Reigning Sound, Ronnie Self, Tyrone Schmidling, Jack Starr, Gene Summers, The Teenbeats, King Uszniewicz, Gene Vincent, Gino Washington, Andre Williams and Link Wray.</p>
		</div>
 </div>
</div>

<div class="row services">
	
			<h2 class="services-home">OUR SERVICES</h2>

			<div class="col-md-6 ">
		 		<div class="home-content">
					<div class="home-services">

						<h3 class="header-synch">Licensing</h3>
						
			 				<p>A world of music available to licence now from our unique one-stop international licensing hub. Maintains a focus on primitive, retro rock'n'roll, rockabilly, garage punk, garage rock, lounge music and early R& B.</p>
	 				</div>
 				</div>
			</div>
			<div class="col-md-6 ">
		 		<div class="home-content">
					<div class="home-services">
						<h3 class="header-synch">Synch</h3>
			 				<p>2 million songs. 2 million opportunities to find the perfect song for your film, trailer, TV show or video game. Maintains a focus on primitive, retro rock'n'roll, rockabilly, garage punk, garage rock, lounge music and early R& B.</p>
	 				</div>
 				</div>
			</div>
</div>
</div>

