<div class="container">
 <div class="row">
	 <div class="col-md-12">
		 <h1 class="titles_h1">Norton Records</h1>
			 <p>Norton Records, a New York City based independent record label founded by musicians Miriam Linna and Billy Miller, maintains a focus on primitive, retro rock'n'roll, rockabilly, garage punk, garage rock, lounge music and early R&B.</p>

			 <p>Along with previously unreleased discoveries, Linna and Miller have successfully reissued many other obscurities and classics from the 1950s and 1960s, and their extensive catalog also includes current talents: Tommy James, King Coleman, Wade Curtiss, Elroy Dietzel, Esquerita, Charlie Feathers, Figures of Light, Flat Duo Jets, Ron Haydock, Roy Loney, Coba Seas, Terry Manning, Rudy Ray Moore, Doug Sahm, Reigning Sound, Ronnie Self, Tyrone Schmidling, Jack Starr, Gene Summers, The Teenbeats, King Uszniewicz, Gene Vincent, Gino Washington, Andre Williams and Link Wray.</p>
	 </div>
 </div>
</div>