
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="cover-content">
				<div class="cover-header">
					<h1 class="header-synch">Synch</h1>
						<p>Along with previously unreleased discoveries, Linna and Miller have successfully reissued many other obscurities and classics from the 1950s and 1960s, and their extensive catalog also includes current talents: Tommy James, King Coleman, Wade Curtiss, Elroy Dietzel, Esquerita, Charlie Feathers, Figures of Light, Flat Duo Jets, Ron Haydock, Roy Loney, Coba Seas, Terry Manning, Rudy Ray Moore, Doug Sahm, Reigning Sound, Ronnie Self, Tyrone Schmidling, Jack Starr, Gene Summers, The Teenbeats, King Uszniewicz, Gene Vincent, Gino Washington, Andre Williams and Link Wray.</p>
				</div>
			</div>
		</div>
	</div>
