.navbar {
	border: none;
	box-shadow: none;
	border-radius: none;
	background: transparent;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.navbar-default .navbar-nav>li>a {
	font-size: 20px;
	font-family: 'lato', sans-serif;
	font-weight: 700;

}


/*.nav{
	padding-left: 320px;
}
*/


