.navbar {
	border: none;
	box-shadow: none;
	border-radius: 1px;
	background:rgba(0,0,0,.77);
}

.navbar-default .navbar-nav>li>a {
	color:white;
	font-size: 1.8rem;
	height:62px;
}

#menu>li:hover{
	background: white;
	color:black;
	-o-transition:color .3s ease-out, background .3s ease-in;
  -ms-transition:color .3s ease-out, background .3s ease-in;
  -moz-transition:color .3s ease-out, background .3s ease-in;
  -webkit-transition:color .3s ease-out, background .3s ease-in;
	transition:color .3s ease-out, background .3s ease-in;
}


.instagram, .fb{
	background:lightgrey;
	opacity: 0.8;
}


/*.nav{
	padding-left: 320px;
}
*/


