// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
	text-align: center;			
	font-size: 6rem;
	letter-spacing:8px;
}

p {
	font-size: 1.4rem;
	color: #777;
}


/*********catalogs flex box gallery*****************/


.galeria {
	display:flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.catalog {
	margin: 1em;
	height: 400px;
	width: 400px;
	margin-bottom:20px;
	
}

.uno {
	background: image-url('long.jpg') no-repeat;
}
.dos{
	background: image-url('onyx.jpg') no-repeat;
}
.nombre{
	text-align: center;
	border-bottom: 3px solid darkred;
	width: 13rem;
	margin: 1rem auto ;
	line-height: 1.333;
}

/*********catalogs label info*****************/

.grey {
	background: grey;
}

.record-label {
	text-align: center;
}
.record-label{
	/*border-bottom: 3px solid black;
	width: 9rem;
	margin: 1rem auto 3rem;*/

}


