

@import "utilities/variables";

@import "components/buttonnavigation";

@import "pages/global";
@import "pages/artists";
@import "pages/songs";
@import "pages/synch";
@import "pages/home";
@import "pages/catalogs";
@import "pages/licensing";
@import "pages/contact";

@import "layout/footer";
@import "layout/navigation";
