<footer class="footer">
	<div class="container">
		 <div class="wrap">
			<div class="col-md-10 content">
				<h5 class="">Explore Norton!</h5>
				<a href="http://www.nortonrecords.com/" target="_blank"><h6 class="info-footer">nortonrecords.com</h6></a>
				<a href="/contact" target="_blank"><h6 class="info-footer" >Contact Us</h6></a>
        <a href="/log-in" target="_blank"><h6 class="info-footer">Admin</h6></a>
			</div>
			<div class="col-md-2 content">
				<h5 class="">Follow Us</h5>
				
  				<div class="media-left">
    				<a href="https://www.facebook.com/nortonrecords" target="_blank">
      				<img class="media-object fb" height="30" width="30" src="https://s3-us-west-2.amazonaws.com/nortonmusic/icons/fb_logo.png" alt="facebook_icon">
    				</a>
  				</div>
  				<div class="media-right">
    				<a href="https://www.instagram.com/nortonrecords/" target="_blank">
      				<img class="media-object instagram" height="30" width="30" src="https://s3-us-west-2.amazonaws.com/nortonmusic/icons/glyph_logo.png" alt="instagram_icon">
    				</a>
  				</div>
			</div>
		<br>
		<div></div>
		<div class="col-md-12 text"><p>2016 Norton Records Brooklyn NY est 1986</p></div>
	 </div>
	</div>
</footer>	