<footer class="footer">
	<div class="container-fluid">
		 <div class="wrap">
			<div class="col-md-10 col-md-offset-2 content-left">
				<h5 class="">Explore Norton!</h5>
				<a href="http://www.nortonrecords.com/" target="_blank"><h6>nortonrecords.com</h6></a>
				<a href="/contact" target="_blank"><h6>Contact Us</h6></a>
        <a href="/log-in" target="_blank"><h6>Admin</h6></a>
			</div>
		<!-- 	<div class="col-md-3 col-md-offset-1 content-right">
				<h5 class="">Follow Us</h5>
				
  				<div class="media-left">
    				<a href="https://www.facebook.com/nortonrecords" target="_blank">
      				<img class="media-object fb" src="assets/fb_logo.png" alt="facebook_icon">
    				</a>
  				</div>
  				<div class="media-right">
    				<a href="https://www.instagram.com/nortonrecords/" target="_blank">
      				<img class="media-object instagram" src="assets/instagram_logo.png" alt="instagram_icon">
    				</a>
  				</div>
			
		</div> -->
		<div class="col-md-12 text"><p>2016 Norton Records Brooklyn NY est 1986</p></div>
	 </div>
	</div>
</footer>	