<nav class="navbar navbar-default ">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a href="#" type="button" id="nav-toggle" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span></span>
      </a>
      <div class="brand">
       <a  href="/"><img  src="https://s3-us-west-2.amazonaws.com/nortonphotos/esquerita_400x400.jpeg"></a>
     </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse center" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav nav" id="menu">
        <li class="menu fade-in"><a href="/music">Music</a></li>
        <li class="menu fade-in"><a href="/catalogs">Catalogs</a></li>
        <li class="menu fade-in"><a href="/synch">Synch</a></li>
      	<li class="menu fade-in"><a href="/licensing">Licensing</a></li>
      </ul>

       <ul class="nav navbar-nav navbar-right" id="menu">
        <li class="menu"><a href="/">Home</a></li>
        <% if current_user %>
        <li class="logout"><a href="">Hello, <%= current_user.name.capitalize %></a></li>
        <li class="menu"> 
          <%=link_to "Logout", :controller => 'sessions', :action => 'destroy' %><%= @username %></li>
          <li><%= link_to 'Dashboard', songs_path %></li>
      <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>